body {
    height: 100vh;
    background-color: aquamarine;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#color1 {
    display: block;
}

#color2 {
    display: block;
}

.boxShodow {
    margin-left: 600px;
}
#mixcolor {
    margin-top: 20px;
    background-color: chartreuse;
    border-radius: 5px;
    font-size: 25px;
}
#resultantColorName {
    margin-left: 600px;
    margin-top: 20px;
    color: red;
    font-size: 40px;
}
